GROWLAB_ENV=development

GROWLAB_LAN_BIND=127.0.0.1

GROWLAB_API_ADDR=:8080
GROWLAB_PUBLIC_API_URL=http://localhost:8080
GROWLAB_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

GROWLAB_DB_HOST=pg-01
GROWLAB_DB_PORT=5432
GROWLAB_DB_NAME=growlab
GROWLAB_DB_USER=growlab
GROWLAB_DB_PASSWORD=change-me
GROWLAB_DB_SSLMODE=disable

GROWLAB_REDIS_ADDR=localhost:6379

GROWLAB_WORKER_METRICS_ADDR=:9091
GROWLAB_MQTT_BROKER=tcp://localhost:1883
GROWLAB_MQTT_CLIENT_ID=growlab-worker
GROWLAB_MQTT_USERNAME=growlab
GROWLAB_MQTT_PASSWORD=change-me
GROWLAB_EMQX_DASHBOARD_USERNAME=admin
GROWLAB_EMQX_DASHBOARD_PASSWORD=change-me

GROWLAB_IMAGE_STORAGE_PATH=./storage/images
GROWLAB_IMAGE_UPLOAD_MAX_BYTES=15728640
GROWLAB_FIRMWARE_STORAGE_PATH=./storage/firmware
GROWLAB_FIRMWARE_UPLOAD_MAX_BYTES=33554432
GROWLAB_SHELLY_TIMEOUT=3s

GROWLAB_FEATURE_AUTH=false
GROWLAB_FEATURE_AI=false
GROWLAB_FEATURE_IRRIGATION_MANUAL=false
GROWLAB_FEATURE_IRRIGATION_AUTOMATION=false
GROWLAB_FEATURE_SHELLY_LIGHTING=true
GROWLAB_FEATURE_OTA=true

NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_APP_NAME=GrowLab
